altgraph==0.15
asn1crypto==0.24.0
autopep8==1.3.4
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
crypto==1.4.1
cryptography==2.2.1
dill==0.2.7.1
et-xmlfile==1.0.1
ez-setup==0.9
feedparser==5.2.1
flake8==2.5.5
flake8-pep257==1.0.5
future==0.16.0
google==2.0.1
hacking==1.0.0
idna==2.6
jaconv==0.2.3
jdcal==1.3
llvmlite==0.22.0
lxml==4.2.1
macholib==1.9
mccabe==0.2.1
multiprocess==0.70.5
Naked==0.1.31
numba==0.37.0
numpy==1.14.2
oauthlib==2.0.7
olefile==0.45.1
openpyxl==2.5.1
packaging==17.1
passlib==1.7.1
pathos==0.2.1
pbr==3.1.1
pefile==2017.11.5
pep257==0.7.0
pep8==1.5.7
Pillow==5.0.0
pip-review==1.0
pox==0.2.3
ppft==1.6.4.7.1
psutil==5.4.3
pubnub==4.0.13
pudb==2017.1.4
pycodestyle==2.3.1
pycparser==2.18
pycryptodome==3.5.1
pycryptodomex==3.5.1
pyflakes==0.8.1
Pygments==2.2.0
PyInstaller==3.3.1
PyJWT==1.6.1
pyparsing==2.2.0
pyperclip==1.6.0
pyreadline==2.1
PySocks==1.6.8
pytesseract==0.2.0
pyttsx==1.1
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
selenium==3.11.0
shellescape==3.4.1
six==1.11.0
tabulate==0.8.2
tendo==0.2.8
tqdm==4.19.8
tweepy==3.6.0
urllib3==1.22
urwid==2.0.1
websocket-client==0.47.0
websocket-server==0.4
xlrd==1.1.0
XlsxWriter==1.0.4
xlwt==1.3.0
youtube-python==1.0.12
zenhan==0.5.2
